.bgImg {
    background-image: url("/assets/image/airoplane_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.lgBg {
    border-radius: 1rem;
    background-image: url("/assets/image/bgk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    opacity: 75%;
}