<div class="row ">
    <div class="col d-flex justify-content-end align-items-end ">
        <div class="col-md-4 m-5">
            <div class="card bg-light " style="max-width: 350px;">
                <div class="card-body p-4 text-center" *ngIf="!api.isRegister; else register">

                    <div class="mb-md-5 mt-md-4 pb-5">
                        <h4 class="mb-5">Login</h4>

                        <div class="form-outline form-white mb-2">

                            <input type="email" class="form-control form-control-sm" placeholder="example@demo.com"
                                [(ngModel)]="email" email="true" minlength="6" required>

                        </div>

                        <div class="form-outline form-white mb-2">
                            <input type="password" class="form-control form-control-sm" placeholder="Password"
                                [(ngModel)]="password" minlength="6" maxlength="16" required>
                        </div>

                        <p class="small mb-3 pb-sm-2"><a class="" routerLink="#!">Forgot
                                password?</a></p>

                        <button class="btn btn-primary btn-sm px-5" type="submit"
                            (click)="loginToAccount()">Login</button>

                    </div>

                    <h6>Create new account ! <a class="text-danger mb-5" (click)="api.isRegister = true">New</a> </h6>
                    <h6>Login as admin ! <a class="text-danger mb-5" (click)="adminLogin()">Login</a>
                    </h6>
                </div>

                <ng-template #register>
                    <div class="card-body p-4 text-center">

                        <div class="mb-md-5 mt-md-4">
                            <h4 class="mb-5">Create Account</h4>

                            <div class="form-outline form-white mb-2">
                                <input type="text" class="form-control form-control-sm" placeholder="Enter username"
                                    [(ngModel)]="api.userData.Name" minlength="6" required>
                            </div>

                            <div class="form-outline form-white mb-2">
                                <input type="email" class="form-control form-control-sm" placeholder="Enter email"
                                    [(ngModel)]="api.userData.Email" minlength="6" required email="true">
                            </div>

                            <div class="form-outline form-white mb-2">
                                <input type="text" class="form-control form-control-sm" placeholder="Enter password"
                                    [(ngModel)]="api.userData.Password" minlength="6" required>
                            </div>

                            <div class="form-outline form-white mb-2">
                                <input type="password" class="form-control form-control-sm"
                                    placeholder="Confirm password" [(ngModel)]="password" minlength="6" required>
                            </div>

                            <button class="btn btn-primary btn-sm px-5 mt-5" type="submit"
                                (click)="createNewAccount()">Register</button>

                        </div>

                        <h6>Already have an account ! <a class="text-danger mb-5"
                                (click)="api.isRegister = false">Login</a>
                        </h6>


                    </div>
                </ng-template>



            </div>
        </div>

    </div>

</div>