<div class="row d-flex justify-content-between p-3">
    <div class="col">
        <div class="card text-white card_bg">
            <div class="p-3">
                <h5>Manage Customers</h5>
                <p class="text-white">Manage all cutomers data of Air Ticket Reservation Systems !
                </p>
                <button class="btn btn-primary" (click)="manageCustomers()">Manage</button>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-white card_bg2">
            <div class="p-3">
                <h5>Manage Flights</h5>
                <p class="text-white">Manage all flights data of Air Ticket Reservation Systems !
                </p>
                <button class="btn btn-primary" (click)="manageFlights()">Manage</button>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-white card_bg3">
            <div class="p-3">
                <h5>Manage Bookings</h5>
                <p class="text-white">Manage all tickets booked by customer in Air Ticket Reservation Systems
                    !
                </p>
                <button class="btn btn-primary" (click)="manageBookings()">Manage</button>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-white card_bg4">
            <div class="p-3">
                <h5>View Feedbacks</h5>
                <p class="text-white">View feedbacks of customers about Air Ticket Reservation
                    Systems !
                </p>
                <button class="btn btn-primary" (click)="manageFeedbacks()">Manage</button>
            </div>
        </div>
    </div>
</div>