<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid justify-content-between">
        <div class="navbar-header mx-3 d-flex align-items-center">
            <img src="https://img.icons8.com/emoji/48/null/airplane-emoji.png" class="p-1"
                style="width: 40px; height:40px" />
            <h6 class="navbar-brand m-1 text-white">ATR Services</h6>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-1 mb-lg-0 " *ngIf="!api.isAdminLoggedIn; else adminNavbar">
                <li class="nav-item mx-2">
                    <a class="nav-link text-white " aria-current="page" routerLink="/">Home</a>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link  text-white" routerLink="comp/searchFlights">Search Flights</a>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link  text-white" routerLink="comp/bookings">Bookings</a>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link  text-white" routerLink="comp/about">About</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-white" routerLink="comp/contact">Contact</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right mx-3">
                <li>
                    <a class="nav-link p-2 text-white" routerLink="comp/login"
                        *ngIf="!api.isLoggedIn; else alreadyLoggedIn"><img
                            src="https://img.icons8.com/fluency/48/null/login-rounded.png"
                            style="width: 24px; height: 24px;" />
                        Login
                    </a>
                    <ng-template #alreadyLoggedIn>
                        <a class="nav-link p-2 text-white" routerLink="comp/login" (click)="logOut()"><img
                                src="https://img.icons8.com/fluency/48/null/logout-rounded.png"
                                style="width: 24px; height: 24px;" />
                            User Logout
                        </a>
                    </ng-template>
                </li>
            </ul>

        </div>
    </div>
</nav>

<ng-template #adminNavbar>

    <ul class="navbar-nav me-auto mb-1 mb-lg-0 ">

        <li class="nav-item mx-2">
            <a class="nav-link  text-white" routerLink="admin/admin-home">Admin Home</a>
        </li>

        <li class="nav-item mx-2">
            <a class="nav-link  text-white" routerLink="admin/customers">Customers</a>
        </li>

        <li class="nav-item mx-2">
            <a class="nav-link  text-white" routerLink="admin/flights">Flights</a>
        </li>

        <li class="nav-item mx-2">
            <a class="nav-link  text-white" routerLink="admin/admin-bookings">Bookings</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link text-white" routerLink="admin/feedbacks">Feedbacks</a>
        </li>
    </ul>


</ng-template>