img {
    height: 40px;
    width: 100px;
}

a:hover {
    border: 2px solid rgb(255, 145, 0);
    border-radius: 10px;
    background-color: rgb(3, 80, 153);
}

nav {

    background-color: rgb(59, 86, 110);
}