.bgImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-image: url('/assets/image/airoplane_image.jpg');
}

.pt {
    padding-top: 70px;
}