.bgColor1 {
    background-color: rgb(130, 227, 252);
}

.bgColor2 {
    background-color: rgb(155, 232, 252);
}

.bgColor3 {
    background-color: rgb(127, 208, 228);
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: fit-content;
    background-image: url('/assets/image/flight.jpg');
}