<div class=" pb-5 pt-5">

    <div class="row d-flex justify-content-center my-5">

        <div class="col-md-4 text-white">
            <h5>About ATR System ?</h5>
            <img src="https://media.istockphoto.com/id/859300456/vector/white-jet-airplane.jpg?s=612x612&w=0&k=20&c=Zl-ftoaexKQU1c2uaCovCE6mb6BJYVMLH006BuiXgGY="
                alt="Not Found" class="w-75 h-75 rounded-circle">
        </div>

        <div class="col-md-4 text-white">
            <h3>Important points ?</h3>
            <div class="card p-3 mb-4">
                <p class="text-dark">In case you book travel services on behalf of your family or a minor, you agree
                    To
                    inform the individual about the content of this privacy policy
                    To obtain any legally-required consent, for the collection, use, disclosure, and transfer
                    (including
                    cross-border transfer) of individual's personal information, from the individual in accordance
                    with
                    the
                    legal and regulatory requirements !
                </p>
            </div>

            <div class="card p-3 mb-4">
                <p class="text-dark">
                    we use your personal data for the purpose of fulfillment of services which include travel
                    reservation and booking for you and
                    for individuals whose information has been provided by you.
                </p>
            </div>

        </div>

    </div>

    <div class="row m-2 w-75 justify-content-start px-5">
        <div class="card p-2">
            <div class="d-flex ">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgQJon3OVWXvODkktTNpnB23QSDuSmUC9o8Q&usqp=CAU"
                    alt="" style="width: 150px; height:150px;" class="m-5">
                <div class="card-body bgColor3 border border-primary border-3 rounded">
                    <h5 class="card-title">Why ATR?</h5>
                    <p class="card-text">
                        Established in 2022, ATR has since positioned itself as one of the leading companies,
                        providing great offers, competitive airfares, exclusive discounts, and a seamless online
                        booking experience to many of its
                        customers. The experience of booking your flight tickets, hotel stay, and holiday package
                        through
                        our
                        desktop
                        site or mobile app can be done with complete ease and no hassles at all. We also deliver
                        amazing
                        offers,
                        such as
                        Instant Discounts, Fare Calendar, MyRewardsProgram, MyWallet, and many more while updating
                        them
                        from
                        time to
                        time to better suit our customers’ evolving needs and demands.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-2 justify-content-end px-5">
        <div class="card p-2 w-75">
            <div class="d-flex ">
                <div class="card-body w-75 bgColor2 border border-primary border-3 rounded">
                    <h5 class="card-title">Booking Flights with ATR !</h5>
                    <p class="card-text ">
                        At ATR, you can find the best of deals and cheap air tickets to any place you want by
                        booking
                        your tickets on our website or app. Being India’s leading website for hotel, flight, and
                        holiday
                        bookings, ATR helps you book flight tickets that are affordable and customized to your
                        convenience. With customer satisfaction being our ultimate goal, we also have a 24/7
                        dedicated
                        helpline to cater to our customer’s queries and concerns. Serving over 5 million happy
                        customers, we
                        at ATR are glad to fulfill the dreams of folks who need a quick and easy means to find
                        air
                        tickets. You can get a hold of the cheapest flight of your choice today while also enjoying
                        the
                        other available options for your travel needs with us.</p>
                </div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT70V6PvvUoe0cRirmf6MNZcM5zQs1_WCfXZe-0mEtqi83MqvdcATObBhcZtFWJCE8yva4&usqp=CAU"
                    alt="" style="width: 150px; height:150px;" class="m-5">
            </div>
        </div>
    </div>

    <div class="row m-2 w-75 justify-content-start px-5">
        <div class="card p-2 ">
            <div class="d-flex ">
                <img src="https://thumbs.dreamstime.com/z/airplane-ticket-line-vector-icon-plane-tickets-illustration-eps-140124340.jpg"
                    alt="" style="width: 150px; height:150px; " class="m-5">
                <div class="card-body bgColor3 border border-primary border-3 rounded">
                    <h5 class="card-title">Domestic Flights with ATR !</h5>
                    <p class="card-text">
                        ATR is India's leading player for flight bookings. With the cheapest fare guarantee,
                        experience
                        great value at the lowest price. Instant notifications ensure current flight status, instant
                        fare
                        drops,
                        amazing discounts, instant refunds and rebook options, price comparisons and many more
                        interesting
                        features.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-2 justify-content-end px-5">
        <div class="card p-2 w-75">
            <div class="d-flex ">
                <div class="card-body w-75 bgColor2 border border-primary border-3 rounded">
                    <h5 class="card-title">HOW LONG DO WE KEEP YOUR PERSONAL INFORMATION?</h5>
                    <p class="card-text ">
                        ATR will retain your Personal Information on its servers for as long as is reasonably
                        necessary
                        for the purposes listed
                        in this policy. In some circumstances we may retain your Personal Information for longer
                        periods
                        of time, for instance
                        where we are required to do so in accordance with any legal, regulatory, tax or accounting
                        requirements.

                        Where your personal data is no longer required we will ensure it is either securely deleted
                        or
                        stored in a way which
                        means it will no longer be used by the business.</p>
                </div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT70V6PvvUoe0cRirmf6MNZcM5zQs1_WCfXZe-0mEtqi83MqvdcATObBhcZtFWJCE8yva4&usqp=CAU"
                    alt="" style="width: 150px; height:150px;" class="m-5">
            </div>
        </div>
    </div>
</div>