<div class="home ">


    <h1 class="text-center text-white mt-5">Book Your Ticket</h1>

    <h2 class="text-center text-white mt-5">Experience the best Journey at affordable price</h2>
    <div class="card p-5 m-5">
        <h2> What Personal Data shall we collect?</h2>
        <ul>
            <li>We collect the following personal and sensitive information from you when you transact through
                us:
                Name, gender, age and date of birth.</li>
            <li>Contact information such as address, email, and mobile phone number.</li>
            <li>Country of residence.</li>
            <li>Payment Details like Credit Card/ Debit Card details along with their expiry date (billing
                address
                in caseof international debit/credit card).</li>
            <li>Passport Number & frequent flyer number (wherever needed)</li>
            <li>Lifestyle and social circumstances (for example, your hobbies)</li>
            <li>Family details/information (for example, your marital status and dependents)</li>
            <li>Employment and education details (for example, the organization you work for, your job title and
                your education details)</li>
            <li>Financial and tax-related information (like your income, investments and tax residency)</li>

            <li>Postings or messages on any blogs, forums, platforms, wikis or social media applications of
                Yatra
                and Yatra's third parties</li>
        </ul>
    </div>

</div>

<!-- --------------Mission--------- -->
<section class="mission">
    <div class="title">
        <h1 class="p-5">Our Mission</h1>
        <div class="line"></div>
    </div>
    <div class="row">
        <div class="col">
            <img src="assets/image/mis1.jpg" alt="" height="300px" width="300px">
            <h4>Provide You The Best Travel Experience</h4>

        </div>
        <div class="col">
            <img src="assets/image/mis3.jpg" alt="" height="300px" width="300px">
            <h4>Cheapest Flights</h4>

        </div>
    </div>
</section>

<!-- ----------------explore---------------- -->
<section class="explore">
    <div class="explore-content">
        <h1>EXPLORE THE WORLD</h1>
        <div class="line"></div>
        <p>Nurtured from the seed of a single great idea - to empower the traveller - ATR Services is a
            pioneer
            in India's online travel industry. Founded in the year 2022 by Hexaware Wilp Trainee, ATR
            Services
            came to life
            to empower the Indian traveller with instant bookings and comprehensive choices. The company
            initiated its journey serving the US-India travel market offering a range of best-value products
            and
            services powered by technology and round-the-clock customer support.

            After consolidating its position in the market as a brand recognised for its reliability and
            transparency, ATR Services</p>
    </div>
</section>