<div class=" pd">
    <div class="d-flex justify-content-center ">
        <button class="btn btn-warning fw-bold text-white p-3 my-3 rounded-pill" (click)="loginNow()">Get Started</button>
    </div>

    <h2 class="text-center text-white">Experience the best Journey at affordable price</h2>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-white card_bg">
                    <div class="card-body">
                        <h5 class="card-title">New customer</h5>
                        <p class="card-text text-white">Register now to enjoy best flight services at affordable price !
                        </p>
                        <button class="btn btn-success" (click)="register()">Register</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-white card_bg2">
                    <div class="card-body">
                        <h5 class="card-title">Book flights</h5>
                        <p class="card-text text-white">Login to search available flights and book your flight !
                        </p>
                        <button class="btn btn-primary" (click)="bookFlight()">Book Now</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-white card_bg3">
                    <div class="card-body">
                        <h5 class="card-title">Know more ?</h5>
                        <p class="card-text text-white">Click below button to reach us and read about ATR Services !
                        </p>
                        <button class="btn btn-danger" (click)="askQuery()">Ask Queries</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- --------------Mission--------- -->

<section class="p-5 bg-white">
    <div class="title">
        <h1 class="">Our Mission</h1>
        <div class="line"></div>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="w-50">
                <img src="assets/image/mis1.jpg" alt="" class="imgSize">
                <h4>Provide You The Best Travel Experience</h4>

            </div>
            <div class="w-50">
                <img src="assets/image/mis3.jpg" alt="" class="imgSize">
                <h4>Cheapest Flights</h4>

            </div>
        </div>
    </div>

</section>

<!-- ----------------explore---------------- -->
<section class="explore">
    <div class="explore-content">
        <h1>EXPLORE THE WORLD</h1>
        <div class="line"></div>
        <h5 class="p-5 text-white text-center">Nurtured from the seed of a single great idea - to empower the
            traveller - ATR Services is a
            pioneer
            in India's online travel industry. Founded in the year 2022 by Hexaware Wilp Trainee, ATR
            Services
            came to life
            to empower the Indian traveller with instant bookings and comprehensive choices. The company
            initiated its journey serving the US-India travel market offering a range of best-value products
            and
            services powered by technology and round-the-clock customer support.

            After consolidating its position in the market as a brand recognised for its reliability and
            transparency, ATR Services</h5>
    </div>
</section>