.home {
    background-image: url(/assets/image/flight.jpg);
    width: 100%;
    height: 100vh;
    background-position: bottom;
    background-size: cover;
    padding-top: 400px;
    justify-content: center;
}

.pd {
    padding-left: 20px;
    padding-right: 20px;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h3 {
    font-size: 7vmin;
    margin-top: 40px;
    margin-bottom: 30px;
}

.card-thumbnail {
    max-height: 250px;
    overflow: hidden;
}

/* ------------mission--------------- */
.imgSize {
    width: 80%;
    height: 300px;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: rgb(8, 8, 121);
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col img {
    width: 80%;
    flex-direction: column;
    align-items: center;
}

.mission .row {
    margin-top: 50px;
}

h4 {
    font-size: 3vmin;
    color: black;
    margin: 20px auto;
}

p {
    color: #7c7c7c;
    margin: 20px auto;
}

/* explore */
.explore {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/image/eexplore.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.explore-content {
    width: 60%;
    padding: 50px;
    color: rgb(19, 19, 19);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content h1 {
    font-size: 7vmin;
}

.explore-content .line {
    margin-bottom: 50px;
}

.explore-content p {
    color: rgb(233, 224, 224);
}