<div class="home pd">

    <h1 class="text-center text-white mt-5">Get Started</h1>

    <h2 class="text-center text-white">Experience the best Journey at affordable price</h2>
    <div class="card p-5 m-5">
        <h2> What Personal Data shall we collect?</h2>
        <ul>
            <li>We collect the following personal and sensitive information from you when you transact through
                us:
                Name, gender, age and date of birth.</li>
            <li>Contact information such as address, email, and mobile phone number.</li>
            <li>Country of residence.</li>
            <li>Payment Details like Credit Card/ Debit Card details along with their expiry date (billing
                address
                in caseof international debit/credit card).</li>
            <li>Passport Number & frequent flyer number (wherever needed)</li>
            <li>Family details/information (for example, your marital status and dependents)</li>
            <li>Employment and education details (for example, the organization you work for, your job title and
                your education details)</li>
        </ul>
    </div>

</div>

<!-- --------------Mission--------- -->

<section class="p-5 bg-white">
    <div class="title">
        <h1 class="">Our Mission</h1>
        <div class="line"></div>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="w-50">
                <img src="assets/image/mis1.jpg" alt="" class="imgSize">
                <h4>Provide You The Best Travel Experience</h4>

            </div>
            <div class="w-50">
                <img src="assets/image/mis3.jpg" alt="" class="imgSize">
                <h4>Cheapest Flights</h4>

            </div>
        </div>
    </div>

</section>

<!-- ----------------explore---------------- -->
<section class="explore">
    <div class="explore-content">
        <h1>EXPLORE THE WORLD</h1>
        <div class="line"></div>
        <h5 class="p-5 text-white text-center">Nurtured from the seed of a single great idea - to empower the
            traveller - ATR Services is a
            pioneer
            in India's online travel industry. Founded in the year 2022 by Hexaware Wilp Trainee, ATR
            Services
            came to life
            to empower the Indian traveller with instant bookings and comprehensive choices. The company
            initiated its journey serving the US-India travel market offering a range of best-value products
            and
            services powered by technology and round-the-clock customer support.

            After consolidating its position in the market as a brand recognised for its reliability and
            transparency, ATR Services</h5>
    </div>
</section>