/* You can add global styles to this file, and also import other style files */
body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: fit-content;
    background-image: url('assets/image/flight.jpg');
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.red-color {
    color: red;
}

.green-color {
    color: green;
}

input.ng-valid {
    border-color: lightgreen;
}

input.ng-touched.ng-invalid {
    border-color: red;
}

textarea.ng-valid {
    border-color: lightgreen;
}

textarea.ng-touched.ng-invalid {
    border-color: red;
}